/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.support_ticket-template-default .entry-content{
  width:100% !important;
}
 .ticket_status_label{
   float:left;
   margin-left: 4px;
   padding: 5px;
   background: rgba(49, 156, 57, 0.64);
   color: #ffffff;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   font-size: 10pt;
 }
 #single_ticket .status_single_ticket{
    float: right !important;
    padding: 4px !important;
    font-size: 9pt;
    margin-top: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.6;
}
#ticket_message{
  background: #ffffff;
  width:100%;
  padding: 10px;
  border: 1px solid #b3b3b3;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);

}
#ticket_message #ticket_content{
  padding: 10px;
}
#ticket_message #ticket_info_bar{
  width: 100%;
  border-bottom: dashed 1px #b3b3b3;
  font-size: 10pt;
  color: #636363;
  background: #f3f3f3;
  padding: 7px;
}
#ticket_message span{
  padding: 10px;
}
#ticket_message .ticket_date,
#ticket_message .ticket_replies_count,
#ticket_message .ticket_number{
  border-right: 1px solid #b3b3b3;
}


#reply_box{
  margin-top: 20px;
  background: #ffffff;
  width:100%;
  padding: 10px;
  border: 1px solid #b3b3b3;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
}
#reply_box h4{
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
#reply_box .alert, .helpdesk_signup_form .alert, #submit_ticket .alert {
    padding: 20px;
    background-color: #e8776f; /* Red */
    color: white;
    margin-bottom: 15px;
    font-size: 10pt;
}

.ticket_reply{
  margin-top: 20px;
  background: #ffffff;
  width:100%;
  padding: 10px;
  border: 1px solid #b3b3b3;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
}
.reply_avatar{
  float:left;
  width:15%;
  text-align: center;
  border-right: 2px dashed #f1f1f1;
}
.reply_avatar img{
  width:60px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.reply_content{
  width:80%;
  float:left;
  padding: 10px;
}

.ticket_reply .reply_username{
  display: block;
  padding-left: 10px;
  font-weight: bold;
  font-size: 10pt;
}
.ticket_reply .reply_time{
  display: block;
  font-size:8pt;
  font-style: italic;

}
#submit_ticket label{
  color:#6b6b6b;
}
#submit_ticket .file_extensions, #reply_box .file_extensions{
  font-size: 10pt;
  color: #7b7b7b;
}
#submit_ticket .rhd_description{
  color: #c1c1c1;
  display: block;
}
#submit_ticket .rhd_small_field{
  width:33%;
}
#submit_ticket .rhd_medium_field{
  width:66%;
}
#submit_ticket .rhd_large_field{
  width:95%;
}
#submit_ticket .rhd_label{
  display:block;
}
#ticket_content hr{
  width: 50%;
  margin-top: 30px;
  border-top: 1px solid #a9a8a8;
  border-bottom: 1px solid #a9a8a8;
}
#ticket_content h3{
  font-size: 12pt;
  margin-top: 1px !important;
}
#ticket_content ol li{
  font-size: 11pt;
  margin-left: 20px;
}
.ticket_reply hr{
  width: 50%;
  margin-top: 30px;
  border-top: 1px solid #a9a8a8;
  border-bottom: 1px solid #a9a8a8;
}
.ticket_reply h3{
  font-size: 12pt !important;
  margin-top: 1px !important;
}
.ticket_reply ol li{
  font-size: 11pt;
  margin-left: 20px;
}



/*** Table Styles **/
#my_tickets_table .ticket_status_label{
  opacity: 0.7 !important;
}
#my_tickets_table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

#my_tickets_table th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:18px;
  font-weight: 100;
  padding:10px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

#my_tickets_table th:first-child {
  border-top-left-radius:3px;
}

#my_tickets_table th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

#my_tickets_table tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

#my_tickets_table tr td a{
  color: #585d61 !important;
}
#my_tickets_table tr:first-child {
  border-top:none;
}

#my_tickets_table tr:last-child {
  border-bottom:none;
}

#my_tickets_table tr:nth-child(odd) td {
  background:#EBEBEB;
}


#my_tickets_table tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

#my_tickets_table r:last-child td:last-child {
  border-bottom-right-radius:3px;
}

#my_tickets_table td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:14px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

#my_tickets_table td:last-child {
  border-right: 0px;
}

#my_tickets_table th.text-left {
  text-align: left;
}

#my_tickets_table th.text-center {
  text-align: center;
}

#my_tickets_table th.text-right {
  text-align: right;
}

#my_tickets_table td.text-left {
  text-align: left;
}

#my_tickets_table td.text-center {
  text-align: center;
}

#my_tickets_table td.text-right {
  text-align: right;
}

.close_ticket{
  background-color: #f44336 !important;
}
.close_ticket:hover{
  background-color: #ffffff !important;
  color:#f44336;
  border:1px solid #000000;
}
#rhd_knowledgebase .product_documents{
  width: 44%;
  margin: 0 35px 30px 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
#rhd_knowledgebase .product_documents .documents_list{
  list-style: none;
  padding: 0;
  margin: 0;
}

#rhd_knowledgebase .product_documents .documents_list li{
  margin-bottom: 20px;
  margin-left: 0;
  background: url(../images/document.png) no-repeat left center;
  background-size: 14px auto;
  padding: 0 0 0 32px;
  line-height: 20px;
}
#rhd_knowledgebase .product_documents .documents_list li a{
  color: #808080;
  text-decoration: none;
}
