/**
 * All of the CSS for admin-specific functionality is
 * included in this file.
 */

 .wpruby_select{
   width: 100%;
 }
#ticket_options label{
  font-weight: bold;
}
#ticket_options .ticket_status_label, .support_ticket_status .ticket_status_label{
  float:left;
  margin-left: 4px;
  padding: 5px;
  background: rgba(49, 156, 57, 0.64);
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#ticket_creator img.avatar{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: solid 2px #8e8e8e;
}
#ticket_creator #creator_img{
  width: 24%;
  float: right;
  height: 112px;
}
#ticket_creator #creator_info{
  padding-left: 5px;

  float:left;
}
#ticket_creator #creator_info ul li{
  font-size: 90%;
  padding-left: 110px;
  position: relative;
}
#ticket_creator #creator_info strong{
  font-size: 10pt;
  display: block;
  margin-top: 20px;
}
#ticket_creator #creator_info span{
  background: rgba(0, 0, 0, 0.52);
  color: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 5px;
  width: 20px;
  height: 20px;
}
.open_ticket{
  background: rgba(38, 121, 48, 0.52) !important;
}
.closed_ticket{
  background: rgba(169, 19, 19, 0.52) !important;
}
#ticket_replies .inside{
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}
.ticket_reply{
  width:100%;
  padding: 10px;
  border-bottom:2px solid #f1f1f1;
}
.reply_avatar{
  float:left;
  width:15%;
  text-align: center;
  border-right: 2px dashed #f1f1f1;
}
.reply_avatar img{
  width:60px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.reply_content{
  width:80%;
  float:left;
  padding: 10px;
}

.ticket_reply .reply_username{
  display: block;
  padding-left: 10px;
  font-weight: bold;
}
.ticket_reply .reply_time{
  display: block;
  font-size:8pt;
  font-style: italic;

}
.button-close{
  border-color: #bf4444 !important;
  background: #d24e4e !important;
  color: #ffffff !important;
}

#ticket_message hr{
  width: 50%;
  margin-top: 50px;
  color: #000000;
  border-top: 1px dashed #a9a8a8;
  border-bottom: 1px dashed #a9a8a8;
}

#ticket_message #ticket_content p{
  font-size: 10pt;
  padding: 15px;
}

#ticket_message ol li{
  font-size: 11pt;
}

.ticket_reply hr{
 width: 50%;
 margin-top: 50px;
 color: #000000;
 border-top: 1px dashed #a9a8a8;
 border-bottom: 1px dashed #a9a8a8;
}
.reply_content ol li{
  font-size: 11pt;
}
.reply_content h3{
  font-size: 12pt;
}
